body {
  background-color: #ffffff;
  color: #212121;
  font-family: "Roboto", sans-serif;
}
:root {
  --basic-text-color: #212121;
  --secondary-text-color: #757575;
  --basic-text: "Roboto", sans-serif;
}

.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
button {
  cursor: pointer;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
nav {
  display: flex;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
/*-----------------------HEADER-----------------------*/
/*div {
  display: flex;
}*/

.header {
  border: 1px solid #ececec;
}
.header-container {
  display: flex;
}

.header-logo {
  display: flex;
  align-items: center;

  color: #000000;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.header-logo span {
  color: #2196f3;
}

.header-list .item + .item {
  margin-left: 50px;
}
.header-list {
  display: flex;
  margin-left: 93px;
  color: inherit;
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.header-list :hover,
.header-list :focus {
  color: #2196f3;
}
.header-item {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}
.header-item {
  color: currentColor;
}
.current {
  color: #2196f3;
}

.header-contact {
  display: flex;
  align-items: center;
  color: var(--secondary-text-color);
  font-family: var(--basic-text);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  margin-left: auto;
}
.header-contact .item + .item {
  margin-left: 50px;
}
.header-mail,
.header-tel {
  padding-top: 32px;
  padding-bottom: 32px;
}
.header-contact :hover,
.header-contact :focus {
  color: #2196f3;
}
.header-mail,
.header-tel {
  color: currentColor;
}
.header {
  background-color: #ffffff;
}

/*------------------------HERO-----------------------*/

.hero {
  /*position: absolute;
  width: 1600px;
  height: 600px;
  left: 0px;
  top: 80px;*/
  background-color: #2f303a;
  justify-content: center;
  text-align: center;
  width: 1600px;

  margin: 0 auto;
}

.hero-title {
  font-family: var(--basic-text);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;

  padding-top: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}
.hero-btn {
  margin-bottom: 200px;
  padding: 10px 32px;
  border-radius: 4px;
  border: none;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  text-align: center;
}
.hero-btn {
  background-color: #2196f3;
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: #188ce8;
}

/*------------------------PRIORITY----------------------*/

.priority-title {
  margin-bottom: 10px;

  color: var(--basic-text-color);
  font-family: var(--basic-text);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.priority-text {
  margin-top: 10px;

  color: var(--secondary-text-color);
  font-family: var(--basic-text);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.priority-list {
  display: flex;
}
.priority-item + .priority-item {
  margin-left: 30px;
}
.priority-item {
  flex-basis: calc(100% / 4);
}
.priority-item {
  width: 270px;
}
/*----------------------WORK EXAMPLES---------------------*/
.example-title {
  color: var(--basic-text-color);
  font-family: var(--basic-text);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.example-list {
  display: flex;
  margin-top: 50px;
}
.example-icon + .example-icon {
  margin-left: 30px;
}

/*--------------------------TEAM-------------------------*/
.team-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0px;
  padding: 0px;
  margin-left: -30px;
  margin-top: -30px;
}

.team-item {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  margin-top: 30px;
  width: 270px;
}
.team {
  background-color: #f5f4fa;
}
.team-worker {
  background-color: #ffffff;
  text-align: center;
}

.team-title {
  margin-bottom: 50px;

  color: var(--basic-text-color);
  font-family: var(--basic-text);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
.team-subtitle {
  padding-top: 30px;
  margin-bottom: 10px;

  color: var(--basic-text-color);
  font-family: var(--basic-text);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}
.team-text {
  padding-bottom: 30px;

  color: var(--secondary-text-color);
  font-family: var(--basic-text);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

/*-------------------------FOOTER-------------------------*/

.footer {
  background-color: #2f303a;
  width: 1600px;
  height: 252px;
}
/*.footer .container {
  display: block;
}*/
.footer-block {
  flex-direction: column;
  margin-left: 215px;
  display: flex;
}
.footer-logo {
  display: block;
  margin-top: 60px;

  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.footer-logo span {
  color: #2196f3;
}
.footer-adress {
  font-family: var(--basic-text);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.footer-list {
  margin-top: 20px;
}
.footer-item + .footer-item {
  margin-top: 9px;
}
.footer-mail,
.footer-tel {
  font-family: var(--basic-text);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-list :hover {
  color: #2196f3;
}
.footer-list :focus {
  color: #2196f3;
}

/*=======================PORTFOLIO===================*/
/*-------------------Portfolio buttons------------------*/

.nav-button {
  color: inherit;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
}
.buttons-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.buttons-list .nav-button {
  padding: 6px 22px;
  border-radius: 4px;
  border: none;
}
.buttons-list .item + .item {
  margin-left: 8px;
}
.nav-button:hover,
.nav-button:focus {
  background-color: #2196f3;
}

/*---------------------Project----------------------*/
.project-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
  margin: 0px;
  margin-left: -30px;
  margin-top: -30px;
}
/*.project-list .project-item {
  outline: 1px solid tomato;
}*/
.project-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
  width: 370px;
}
.project-img {
  display: block;
}

.project-item .item {
  flex-direction: column;
  align-items: normal;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  padding: 20px 24px;
}

.project-title {
  font-family: var(--basic-text);
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--basic-text-color);
}
.project-text {
  font-family: var(--basic-text);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

/* body {
  background-color: #ffffff;
  position: relative;
  width: 1600px;
  height: 2349px;
}

:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
}
/*-------HEADER--------*/
/*.logo-text {
  color: #000000;
}
.logo-text span {
  color: #2196f3;
}
.header-list {
  color: var(--primary-text-color);
  font-family: roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}
.header-list:hover,
.header-list:focus {
  color: #2196f3;
}

.header-contact a {
  color: #757575;
  font-family: roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}
.header-tel:hover{
  color: #2196f3;
}
.header-mail:hover{
  color: #2196f3;
}

/*Герой, слоган*/
/*.hero {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
    drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.hero {
  background: #2F303A;
}
.hero-text {
  color: #ffffff;
  font-family: roboto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-button {
  background-color: #2196f3;
  color: #ffffff;
  font-family: roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.89;
  text-align: center;
  letter-spacing: 0.06em;
  display: flex;
  align-items: center;
  border: transparent;
}
.hero-button:hover {
  color: #188ce8;
}
.hero-button:focus{
  color: green;
}

/*Приоритет*/

/*.priority {
  background-color: orange
}

.prof-skils h3 {
  color: var(--primary-text-color);
  font-family: roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.list {
  list-style: none;
}

.prof-skils p {
  color: var(--secondary-text-color);
  font-family: roboto;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

/*Вид деятельности*/

/*.work {
  color: var(--primary-text-color);
  font-family: roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/*Наша команда*/

/*.team {
  color: var(--primary-text-color);
  font-family: roboto;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
  text-align: center;
}



.title-igor {
  color: var(--primary-text-color);
  font-family: roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  text-align: center;
}

.work-igor {
  color: var(--secondary-text-color);
  font-family: roboto;
  
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  text-align: center;
  */
